.signup {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), 
                url(../../Assets/background_image.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
  }
  
  
  .signup-logo {
    position: absolute; /* Position the logo independently */
    top: 20px; /* Distance from the top */
    left: 30px; /* Distance from the left */
    width: 150px;
    cursor: pointer; /* Indicates the logo is clickable */
  }
  
  .signup-form {
    width: 100%;
    max-width: 400px; /* Adjusted for smaller form size */
    background: rgba(0, 0, 0, 0.85);
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: 0 auto; /* Center the form horizontally */
  }
  
  .signup-form input {
    width: 80%; /* Adjusted width to avoid exceeding form bounds */
    height: 15px; /* Slightly larger for usability */
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #333;
    background: #333;
    color: #fff;
    font-size: 14px;
  }
  
  .signup-form button {
    width: 90%;
    height: 45px;
    margin-top: 15px;
    border-radius: 4px;
    background: #e50914;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
  }
  
  .signup-form button:hover {
    background: #f40612;
  }
  
  .form-help {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    color: #b3b3b3;
    font-size: 14px;
  }
  
  .remember-me {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .remember-me input {
    width: 16px;
    height: 16px;
    cursor: pointer;
  }
  
  
  .form-switch {
    margin-top: 20px;
    font-size: 14px;
    color: #b3b3b3;
  }
  
  .form-switch .sign-in {
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none; /* Remove underline by default */
  }
  
  .form-switch .sign-in:hover {
    text-decoration: underline; /* Add underline on hover */
  }
  .avatar-selection {
    text-align: left;
    margin: 20px 0;
    color: #fff;
  }
  
  .avatar-options {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  
  .avatar-options img {
    width: 60px; 
    height: 60px; 
    cursor: pointer;
    transition: transform 0.3s ease, border 0.3s ease;
    border: 1px solid transparent; 
    object-fit: cover; 
  }
  
  .avatar-options img:hover {
    transform: scale(1.1); 
  }
  
  .selected-avatar {
    border: 2px solid #e50914; 
    transform: scale(1.1); 
  }
  